<a href="https://colab.research.google.com/github/kotharisanjana/CMPE255_DataMining_Fall2022/blob/main/DerekBanas_Python_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Imports

In [ ]:
import sys
import random

#### Print to console

In [ ]:
print('Hello World')

Hello World

#### Asigning variables

In [ ]:
name = 'Sanjana'
print(name)

Sanjana

### Arithmetic operations

In [ ]:
print('5 + 2 =', 5 + 2)
print('5 - 2 =', 5 - 2)
print('5 * 2 =', 5 * 2)
print('5 / 2 =', 5 / 2)
print('5 % 2 =', 5 % 2)
print('5 ** 2 =', 5 ** 2)
print('5 // 2 =', 5 // 2)

5 + 2 = 7
5 - 2 = 3
5 * 2 = 10
5 / 2 = 2.5
5 % 2 = 1
5 ** 2 = 25
5 // 2 = 2

In [ ]:
print('1 + 2 - 3 * 2 = ', 1 + 2 - 3 * 2)
print('(1 + 2 - 3) * 2 = ', (1 + 2 - 3) * 2)

1 + 2 - 3 * 2 =  -3
(1 + 2 - 3) * 2 =  0

#### Single and multiline strings

In [ ]:
quote = '\'Always remember you are unique'

multiline_quote = '''just
like everyone else'''

print('%s %s %s' % ('I like the quote', quote, multiline_quote))

#Empty/new line
print('\n' * 5)

print('I don\'t like ', end = '')
print('newlines')

I like the quote 'Always remember you are unique just
like everyone else






I don't like newlines

#### Lists

In [ ]:
grocery_list = ['Onions', 'Juice', 'Tomatoes', 'Noodles']
print('First item', grocery_list[0])
grocery_list[0] = 'Rice'

print(grocery_list[1:3])

other_list = ['Wash car', 'Cash check', 'Cook food']
to_do_list = [grocery_list, other_list]
print(to_do_list)

print(to_do_list[1][1])

grocery_list.append('Onions')
print(to_do_list)

grocery_list.insert(0, 'Pickles')

grocery_list.remove('Noodles')

grocery_list.sort()

grocery_list.reverse()

del grocery_list[2]

print(to_do_list)

to_do_list2 = other_list + grocery_list

print(len(to_do_list2))
print(max(to_do_list2))
print(min(to_do_list2))

First item Onions
['Juice', 'Tomatoes']
[['Rice', 'Juice', 'Tomatoes', 'Noodles'], ['Wash car', 'Cash check', 'Cook food']]
Cash check
[['Rice', 'Juice', 'Tomatoes', 'Noodles', 'Onions'], ['Wash car', 'Cash check', 'Cook food']]
[['Tomatoes', 'Rice', 'Onions', 'Juice'], ['Wash car', 'Cash check', 'Cook food']]
7
Wash car
Cash check

#### Tuples

In [ ]:
pi_tuple = (3,1,4,1,5,9)
new_list = list(pi_tuple)
new_tuple = tuple(new_list)

print(len(new_tuple))
print(min(new_tuple))
print(max(new_tuple))

len(new_tuple), min(new_tuple), max(new_tuple)

6
1
9

(6, 1, 9)

#### Dictionary

In [ ]:
heroes = {
    'Superman': 'Clark Kent',
    'Batman': 'Bruce Wayne',
    'Spiderman': 'Tobey Maguire'
}

print(heroes['Superman'])
del heroes['Batman']
heroes['Spiderman'] = 'Tom Holland'
print(len(heroes))
print(heroes.get('Spiderman'))
print(heroes.keys())
print(heroes.values())

Clark Kent
2
Tom Holland
dict_keys(['Superman', 'Spiderman'])
dict_values(['Clark Kent', 'Tom Holland'])

#### If-else

In [ ]:
age = 30
if age > 21:
    print('You can drive a tractor trailer')
elif age >= 16:
    print('You can drive a car')
else:
    print('You can\'t drive')


if age < 5:
    print('Stay Home')
elif (age >= 5) and (age <= 6):
    print('Kindergarten')
elif (age > 6) and (age <= 17):
    print('Grade %d', (age - 5))
else:
    print('College')

You can drive a tractor trailer
College

#### For loop

In [ ]:
for x in range(0, 10):
    print(x, ' ', end='')
print('\n')

for item in grocery_list:
  print(item)

for x in [2, 4, 6]:
    print(x)

num_list = [[1, 2, 3], [10, 20, 30], [100, 200, 300]]
for x in range(3):
  for y in range(3):
    print(num_list[x][y])

0  1  2  3  4  5  6  7  8  9

Tomatoes
Rice
Onions
Juice
2
4
6
1
2
3
10
20
30
100
200
300

#### While loop

In [ ]:
random_num = random.randrange(0, 100)
while random_num != 15:
  print(random_num)
  random_num = random.randrange(0, 100)

3
66
63
99
64
74
82
34
38
18
30
97
38
32
65
91
73
10
2
44
66
22
52
32
84
51
41
27
8
23
84
18
40
86
60
19
67
28
20
50
43
42
83
36
33
65
51
94
41
57
91
55
71
10
23
23
44
80

####If-else ladder

In [ ]:
w2 = 0
while w2 <= 20:
    if w2 % 2 == 0:
        print(w2)
    elif w2 == 9:
        break
    else:
        w2 += 1
        continue
    w2 += 1

0
2
4
6
8

####Functions

In [ ]:
def get_sum(num1, num2):
  sum_num = num1 + num2
  return sum_num 

print(get_sum(5, 4))

9

####Reading user input from console

In [ ]:
name = input('What is your name? ')
print('Hi ', name)

What is your name Sanjana
Hi  Sanjana

####Strings

In [ ]:
long_string = 'I\'ll catch you if you fall - The Floor  '

print(long_string[0:4])
print(long_string[-5:])
print(long_string[:-5])
print(long_string[0:4] + ' be there')
print('\nString Formatting : %04d %s %.2f %c' % (1, 'Hello', 1.234, 'A'))
print(long_string.capitalize())
print(long_string.find('Floor'))
print(long_string.isalpha())
print(long_string.isalnum())
print(len(long_string))
print(long_string.replace('Floor', 'Ground'))
print(long_string.strip())

lis = long_string.split(' ')
print(lis)

I'll
oor
I'll catch you if you fall - The Fl
I'll be there

String Formatting : 0001 Hello 1.23 A
I'll catch you if you fall - the floor
33
False
False
40
I'll catch you if you fall - The Ground
I'll catch you if you fall - The Floor
["I'll", 'catch', 'you', 'if', 'you', 'fall', '-', 'The', 'Floor', '', '']

#### File operations

In [ ]:
test_file = open('test.txt', 'wb')
print(test_file.name)
print(test_file.mode)
test_file.write(bytes('write me to file\n', 'UTF-8'))
test_file.close()

test_file = open('test.txt', 'r+')
text = test_file.read()
print(text)
print(test_file.closed)

test.txt
wb
write me to file

False

#### Encapsulation

In [ ]:
class Animal:
  #private variables
  __name = ''
  __weight = 0
  __height = 0
  __sound = ''

  def __init__(self, name, weight, height, sound):
    self.__name = name
    self.__weight = weight
    self.__height = height
    self.__sound = sound

  #setters and getters to access and modify private variables
  def set_name(self, name):
    self.__name = name

  def get_name(self):
    return self.__name

  def set_height(self, height):
    self.__height = height

  def get_height(self):
    return self.__height
  
  def set_weight(self, weight):
    self.__weight = weight

  def get_weight(self):
    return self.__weight
  
  def set_sound(self, sound):
    self.__sound = sound

  def get_sound(self):
    return self.__sound

  #get object type
  def get_type(self):
    print('Animal')

  #return object attributes
  def toString(self):
    return '{} is {} cm tall and {} kilograms and says {}'.format(self.__name, self.__height, self.__weight, self.__sound)

cat = Animal('Whiskers', 10, 33, 'Meow')
print(cat.toString())

Whiskers is 33 cm tall and 10 kilograms and says Meow

#### Inheritance

In [ ]:
class Dog(Animal):
  #private variables
  __owner = ''

  def __init__(self, name, weight, height, sound, owner):
    #call constructor of parent class
    super().__init__(name, weight, height, sound)
    self.__owner = owner

  #setters and getters to access and modify private variables
  def set_owner(self, owner):
    self.__owner = owner
  
  def get_owner(self):
    return self.__owner
  
  #return object attributes
  def toString(self):
    return super().toString() + ' and is owned by ' + self.__owner
  
  def multiple_sounds(self, how_many = None):
    if how_many is None:
      print(self.get_sound)
    else:
      print(super().get_sound() * how_many)

  def get_type(self):
    print('Dog')

dog = Dog('Spot', 53, 27, 'Bark', 'Rob')
print(dog.toString())
print(dog.multiple_sounds(5))

Spot is 27 cm tall and 53 kilograms and says Bark and is owned by Rob
BarkBarkBarkBarkBark
None

#### Polymorphism

In [ ]:
class AnimalTesting:
  def get_type(self, animal):
    animal.get_type()

test_animals = AnimalTesting()

#overriding of functions
test_animals.get_type(cat)
test_animals.get_type(dog)

Animal
Dog